Electron/
Insomnia/
Slack/
Code - OSS/
autostart/
create-next-app-nodejs/
dconf/
discord/
draw.io/
evolution/
google-chrome/
gtk-3.0/
gtk-4.0/
kde.org/
keepassxc/
kitty/
libreoffice/
marlin/
matplotlib/
nautilus/
google-chrome-unstable
nextjs-nodejs/
nvim/
nwg-look/
opera/
pulse/
qt5ct/
skypeforlinux/
systemd/
viewnior/
vlc/
xsettingsd/
Hyprland-xdg-terminals.list
QtProject.conf
calindacrc
calindorirc
dolphinrc
init.lua
mimeapps.list
pavucontrol.ini
xdg-terminals.list
